<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.QuickQuizSamuel.testapp"
versionCode = "10"
version = "1.0.0" >
<!-- versionCode is optional and Android only -->
<name>QuickQuiz</name>
<description>
Quiz app for Global Connectivity
</description>
<author href="https://QuickQuiz.com" email="oteesam@gmail.com">
Samuel O.T
</author>

</widget>
